<h1 mat-dialog-title>Please enter your details</h1>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Enter username</mat-label>
        <input matInput type="text" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter company id</mat-label>
        <input matInput type="number" [(ngModel)]="companyId">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter payment method</mat-label>
        <mat-select [(value)]="payment">
            <mat-option value="MasterCard">MasterCard</mat-option>
            <mat-option value="Visa">Visa</mat-option>
            <mat-option value="Paypal">Paypal</mat-option>
            <mat-option value="BitCoin">BitCoin</mat-option>
            <mat-option value="Cups of coffee">Cups of coffee</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<div mat-dialog-actions>
    <button mat-raised-button color="accent" (click)="confirm()">Confirm</button>
</div>