<mat-form-field class="example-form-field">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" [(ngModel)]="myCompany" (keyup)=logger() (keyup.enter)="submit()">
    <button mat-button *ngIf="myCompany" matSuffix mat-icon-button aria-label="Clear" (click)="myCompany=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
<div *ngIf="complete">
    <p>Your Orders</p>
    <div *ngIf="orders.length !== 0; else elseBlock">
        <mat-card *ngFor="let order of orders">
            <p>Order id: {{order.id}}</p>
            <p>Created: {{order.created}}</p>
            <p>Customer:{{order.createdBy}}</p>
            <p>Pyment Method: {{order.paymentMethod}}</p>
            <p>Total cost: {{order.totalPrice}}</p>
            <p>Status for order: {{order.status}}</p>
            <div *ngFor="let orderRow of order.orderRows">
                Produkter:
                <p>{{orderRow.productId}}</p>
                <p>{{orderRow.amount}}</p>
            </div>
        </mat-card>
    </div>
    <ng-template #elseBlock>
        <p>You have no orders</p>
    </ng-template>
</div>