<mat-spinner *ngIf="!complete"></mat-spinner>

<div *ngIf="complete">
    <div class="scene">
        <div class="carousel" attr.style="{{transform}}">
            <div *ngFor="let product of sortedProducts; let i = index; trackBy: index"
                attr.style="transform: rotateY({{theta * i}}deg) translateZ({{radius}}px);" class="carouselcell">
                <mat-card attr.style="background-image: url({{product.imageUrl}})" routerLink="product/{{product.id}}">
                    <mat-card-title-group>
                        <mat-card-title>{{product.name}}</mat-card-title>
                        <mat-card-subtitle>{{product.price}} :-</mat-card-subtitle>
                    </mat-card-title-group>
                </mat-card>
            </div>
        </div>
    </div>
</div>