<mat-menu #menu="matMenu">
    <button mat-button routerLink="cart">Your Cart</button>

    <button mat-button [matMenuTriggerFor]="products">products</button>

    <mat-menu #products>
        <button mat-button routerLink="products">All Products</button>
        <button mat-button [matMenuTriggerFor]="categories">Categories</button>
    </mat-menu>
    <mat-menu *ngIf="complete" #categories>
        <button *ngFor="let category of categories">{{category.name}}</button>
    </mat-menu>

    <button mat-button routerLink="admin">Admin Page</button>
</mat-menu>