<mat-menu #mainMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="products">products</button>
    <button mat-menu-item routerLink="">Home</button>
    <button mat-menu-item routerLink="cart">Your Cart</button>
    <button mat-menu-item routerLink="admin">Admin Page</button>
</mat-menu>

<mat-menu #products="matMenu">
    <button mat-menu-item routerLink="products">All Products</button>
    <button mat-menu-item [matMenuTriggerFor]="categories">Categories</button>
</mat-menu>

<mat-menu #categoriesMenu="matMenu">
    <button *ngFor="let category of categories" mat-menu-item routerLink="products/{{category.id}}">
        {{category.name}}
    </button>
    <!-- <ng-template matMenuContent let-categories="menuItems">
                        <button mat-menu-item *ngFor="let category of categories">
                            {{category.name}}
                        </button>
                    </ng-template> -->
</mat-menu>